# Bootcamp DataScience iHub

## Gasto de deputados por gênero

### Etapas: 
    1. Abrir os datasets do [link]: http://dontpad.com/thaisviana/datascience
    2. Calcular o gasto por cada deputado em 2018
    3. Descobrir quem são os deputados em 2018 no nosso dataset
    4. Filtrar o dataset de informações de deputados pelos deputados na lista do item 3
    5. Criar um dataset novo com as colunas NOME, GENERO, GASTO
    6. Calcular qual genero gasta mais em média por número de agentes públicos

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2018 = pd.read_csv('data/Ano-2018.csv', sep=';', parse_dates=['datEmissao'])

In [3]:
df_infos = pd.read_csv('data/deputados.csv', sep=';', parse_dates=['dataNascimento'])

## Gasto por cada deputado em 2018

In [4]:
df_2018 = df_2018[pd.isna(df_2018['sgPartido']) == False]
gasto = df_2018.groupby(['txNomeParlamentar', 'sgPartido'])['vlrDocumento'].sum()

##  Deputados em 2018 no nosso dataset

In [5]:
lista_de_nomes = df_2018.txNomeParlamentar.unique()

In [6]:
#gasto.index

## Filtrar o dataset de info de deputados pelos deputados na lista

In [7]:
df_nome_genero = df_infos[df_infos['nome'].isin(lista_de_nomes) == True]
df_nome_genero

,uri,nome,idLegislaturaInicial,idLegislaturaFinal,nomeCivil,cpf,siglaSexo,urlRedeSocial,urlWebsite,dataNascimento,dataFalecimento,ufNascimento,municipioNascimento
221,https://dadosabertos.camara.leg.br/api/v2/depu...,MACEDO,3,3,José Vicente de Macedo,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN
376,https://dadosabertos.camara.leg.br/api/v2/depu...,ROCHA,5,9,Justiniano José da Rocha,NaN,M,NaN,NaN,1812-11-08,1862-07-10,RJ,Rio de Janeiro
477,https://dadosabertos.camara.leg.br/api/v2/depu...,MACEDO,7,7,Marcos Antonio de Macedo,NaN,M,NaN,NaN,1808-06-18,1872-12-15,PI,Jaicós
782,https://dadosabertos.camara.leg.br/api/v2/depu...,MACEDO,12,17,Joaquim Manoel de Macedo,NaN,M,NaN,NaN,1820-06-24,1882-04-11,RJ,Itaboraí
968,https://dadosabertos.camara.leg.br/api/v2/depu...,ROCHA,16,16,Francisco José da Rocha,NaN,M,NaN,NaN,1832-02-10,NaN,BA,Salvador
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,https://dadosabertos.camara.leg.br/api/v2/depu...,EURICELIA CARDOSO,55,55,EURICELIA MELO CARDOSO,NaN,F,NaN,NaN,1976-04-19,NaN,MA,Monção
7377,https://dadosabertos.camara.leg.br/api/v2/depu...,PROFESSOR PACCO,55,55,MARCOS PACCO RIBEIRO COELHO,NaN,M,NaN,NaN,1974-05-12,NaN,DF,Brasília
7597,https://dadosabertos.camara.leg.br/api/v2/depu...,FREITAS DO PT,55,55,MILNE FREITAS SOUZA,NaN,M,NaN,NaN,1962-05-06,NaN,MA,Barra do Corda
7598,https://dadosabertos.camara.leg.br/api/v2/depu...,WASHINGTON CORAÇÃO VALENTE,55,55,WASHINGTON STECANELA CERQUEIRA,NaN,M,NaN,NaN,1975-04-01,NaN,DF,Brasília
7599,https://dadosabertos.camara.leg.br/api/v2/depu...,FELIPE SOUZA,55,55,LUIS FELIPE SILVA DE SOUZA,NaN,M,NaN,NaN,1971-10-04,NaN,AM,Manaus

In [8]:
df_nome_genero = df_nome_genero[['nome', 'siglaSexo', 'ufNascimento', 'dataNascimento']]
df_nome_genero.drop_duplicates(subset='nome', keep='first', inplace=True)
df_genero = df_nome_genero
df_genero

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                            nome siglaSexo ufNascimento dataNascimento
221                       MACEDO         M          NaN            NaN
376                        ROCHA         M           RJ     1812-11-08
2823                SILVIO COSTA         M           PE     1956-12-23
2824                IZALCI LUCAS         M           MG     1956-04-07
2825                DANILO FORTE         M           CE     1958-09-01
...                          ...       ...          ...            ...
7376           EURICELIA CARDOSO         F           MA     1976-04-19
7377             PROFESSOR PACCO         M           DF     1974-05-12
7597               FREITAS DO PT         M           MA     1962-05-06
7598  WASHINGTON CORAÇÃO VALENTE         M           DF     1975-04-01
7599                FELIPE SOUZA         M           AM     1971-10-04

[554 rows x 4 columns]

In [9]:
from datetime import datetime

datetime.today()
diferenca_em_dias = datetime.today() - pd.to_datetime(df_nome_genero.dataNascimento)
idade = np.array((diferenca_em_dias.dt.days/365).values, dtype='int')
media = idade[idade > 0].mean()

idade[idade < 0] = int(media)
df_nome_genero['idade'] = idade

df_nome_genero

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

                            nome siglaSexo ufNascimento dataNascimento  idade
221                       MACEDO         M          NaN            NaN     56
376                        ROCHA         M           RJ     1812-11-08    207
2823                SILVIO COSTA         M           PE     1956-12-23     63
2824                IZALCI LUCAS         M           MG     1956-04-07     63
2825                DANILO FORTE         M           CE     1958-09-01     61
...                          ...       ...          ...            ...    ...
7376           EURICELIA CARDOSO         F           MA     1976-04-19     43
7377             PROFESSOR PACCO         M           DF     1974-05-12     45
7597               FREITAS DO PT         M           MA     1962-05-06     57
7598  WASHINGTON CORAÇÃO VALENTE         M           DF     1975-04-01     44
7599                FELIPE SOUZA         M           AM     1971-10-04     48

[554 rows x 5 columns]

In [10]:
df_nome_genero = df_nome_genero.sort_values(by='nome', ascending=True)
df_nome_genero = df_nome_genero.set_index('nome')

In [14]:
#pd.concat([gasto, df_nome_genero], axis=1, sort=False)

## AGORA COM MERGE

In [12]:
gasto_merge = gasto

In [16]:
gasto_merge = gasto_merge.reset_index()
gasto_merge = gasto_merge.merge(df_genero, left_on='txNomeParlamentar', right_on='nome')
gasto_merge.columns

df_X = gasto_merge[['nome_y', 'sgPartido', 'idade_x', 'ufNascimento_y','vlrDocumento']]

In [17]:
df_X

                   nome_y      sgPartido  idade_x ufNascimento_y  vlrDocumento
0       ABEL MESQUITA JR.            DEM       57             RR     531047.71
1          ADAIL CARNEIRO           PODE       56             CE     546244.27
2    ADALBERTO CAVALCANTI         AVANTE       61             BA     497902.97
3    ADELMO CARNEIRO LEÃO             PT       70             MG     378203.93
4         ADELSON BARRETO             PR       55             SE     333038.13
..                    ...            ...      ...            ...           ...
549             ZÉ CARLOS             PT       64             MA     484381.83
550            ZÉ GERALDO             PT       58             ES     505529.11
551              ZÉ SILVA  SOLIDARIEDADE       56             MG     384928.09
552            ÁTILA LINS             PP       69             AM     437089.95
553            ÁTILA LIRA            PSB       72             PI     452594.23

[554 rows x 5 columns]